# Data Analysis for personal Debts.

still can't figure out how to code this.

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

df = pd.read_csv('debt.csv')
df.shape
df.describe()

       YEAR 12  Unnamed: 14
count      0.0          0.0
mean       NaN          NaN
std        NaN          NaN
min        NaN          NaN
25%        NaN          NaN
50%        NaN          NaN
75%        NaN          NaN
max        NaN          NaN

In [3]:
y = np.linspace(0,10,15)

plt.scatter(df, y)
plt.show

AttributeError: 'DataFrame' object has no attribute 'np'